.PassWord-Update-Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PassWord-Update{
    width: 40%;
}
.PassWord-Update{
    color: rgb(5, 5, 107);
    font-weight: bold;
}
.password-change-btn{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: blue;
    color: white;
    margin: 20px;
}